<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .bodyContent {
        background-color: transparent;
    }


    body {
        margin:0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        background: url(http://www.fillster.com/images/backgrounds/718b.jpg);
        background-attachment: fixed;
        background-repeat: repeat;
    }
</style>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <div class="container3">
        <div class="Nav_bar0">
            {% extends 'base.html' %}

            {% block content %}
        </div>
        <div class="enjoy">
        </div>
        <div class="profile_card">
            <div id="homepage" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title"> Please give me simple game ideas like pong. =) </h1>
                    {% include 'forms.html' %}
                </div>
            </div>
        </div>
        {% endblock content %}
    </div>
</body>

</html>