<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Snake</title>
    <style>
        body{
            margin:0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100vh;
            background: linear-gradient(0deg,
                    rgb(17, 51, 161) 0%,
                    rgb(136, 34, 195) 100%);
        }
        canvas{
            box-shadow: black 20px 10px 50px;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    <h1>Snake</h1>
    <canvas id="snakegame" width="400" height="400">

        
        <script src="{{url_for('static', filename='JSGAMES/Snake.js')}}"></script>
        {% endblock content %}
</body>
</html>